.column {
    border: 2px solid #ccc;
    flex: 1 1 50%;
    padding: 20px;
    min-width: 20%;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.static-content,
.scrollable-tiles {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100vh;
    max-width: 30%;
    height: 100vh;
}

.scrollable-tiles {
    overflow-y: auto;
    min-width: 55%;
}

.tile {
    border: 2px solid #ccc;
    margin-bottom: 10px;
    min-height: fit-content;
    padding: 30px 20px 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.6s ease;
    position: relative;
}

.tile-header h {
    font-size: 28px;
}

.tile-header p {
    font-size: 1em;
}

.tile-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateY(20px);
    min-height: fit-content;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
}

.tile-content-section {
    flex: 1;
    max-width: 45%;
    margin: 0 10px;
    transition: opacity 0.6s;
}



.animated-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    opacity: 1;
    overflow: hidden; /* Ensure no overflow from animation */
}

.animated-list li {
    position: relative;
    margin: 10px;
    padding-left: 30px;
    opacity: 0;
    transform: translateX(-20px);
    animation: quickFadeIn 0.1s forwards;
    /* Adjust delay for sequential effect */
    animation-delay: var(--animation-delay, 0s);
}

.animated-list li.visible {
    opacity: 1;
    transform: translateX(0);
}

.animated-list li::before {
    content: "—";
    position: absolute;
    left: 0;
    width: 3ch;
    color: #fff;
    font-size: 1em;
}

@keyframes quickFadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}