*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #070213;
    /* background-image: linear-gradient(to right, #000,  #080008); */
    color: #ccc;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body, .header, .slideshow-container, .quote-wrapper, .projects-container, .about-me-wrapper, .skills-wrapper {
    background-color: #070213;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: #070213;
    position: relative;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav-links li a:hover{
    color: #888888;
    transition: 0.5s;
}

.nav-links li a::after{
    content: '';
    background: #058c9b;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.projects-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 80px;
}

.project{
    width: 30%;
    margin: 20px;
    text-align: center;
}

.project-img{
    max-width: 100%;
}

.project-paragraph{
    line-height: 1.6;
    text-align: center;
}

.project-name{
    padding: 10px;
}

#about-me-paragraph{
    line-height: 1.6;
    margin-top: 10px;
}

.about-me-wrapper {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
}

.about-me {
    /* color: #ccc; */
    padding: 20px;
    max-width: 600px;
    margin-top: 30px;
    margin: 10px 5% 10px;
    text-align: center;
    max-width: 30%;
}

.profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.contact-information-wrapper{
    padding: 20px;
    max-width: 600px;
    margin-top: 30px;
    margin: 10px 5% 10px;
    text-align: center;
    max-width: 30%;
}

.skills-wrapper{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    cursor: default;
}

.skills{
    padding: 20px;
    max-width: 600px;
    margin-top: 30px;
    margin: 10px 5% 10px;
    text-align: center;
    max-width: 30%;
}

.skills-list{
    line-height: 1.6;
    margin-top: 10px;
}

.skills-header{
    margin: 20px auto;
}

.skills-list dd:hover{
    color: #888888;
    transition: 0.5s;
    
}